.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
   margin-top: 0px;
}
.navbar .dropdown-menu a {
    color:white
}
.navbar .dropdown-menu a:hover{
    background-color: black
 }

